USE [master]
GO
/****** Object:  Database [ConApp]    Script Date: 6/5/2022 09:09:04 ******/
CREATE DATABASE [ConApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ConApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ConApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConApp]
GO
/****** Object:  User [alumno]    Script Date: 6/5/2022 09:09:04 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Opinion]    Script Date: 6/5/2022 09:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opinion](
	[IdOpinion] [int] NOT NULL,
	[Opinion] [varchar](250) NOT NULL,
	[IdSolicitante] [int] NOT NULL,
	[IdPostulante] [int] NOT NULL,
 CONSTRAINT [PK_Opinion_1] PRIMARY KEY CLUSTERED 
(
	[IdOpinion] ASC,
	[IdSolicitante] ASC,
	[IdPostulante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postulantes]    Script Date: 6/5/2022 09:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postulantes](
	[DNI] [int] NOT NULL,
	[Opinion] [int] NOT NULL,
	[Foto] [varchar](250) NOT NULL,
	[ExperienciaLaboral] [varchar](250) NULL,
	[Celular] [int] NOT NULL,
	[Mail] [varchar](250) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Disponibilidad] [varchar](250) NOT NULL,
	[NombreApellido] [varchar](250) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Valoracion] [int] NULL,
 CONSTRAINT [PK_Postulantes] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostulantesRubros]    Script Date: 6/5/2022 09:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostulantesRubros](
	[DNI] [int] NOT NULL,
	[IdRubro] [int] NOT NULL,
 CONSTRAINT [PK_PostulantesRubros] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC,
	[IdRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 6/5/2022 09:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubros](
	[IdRubro] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rubros] PRIMARY KEY CLUSTERED 
(
	[IdRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitantes]    Script Date: 6/5/2022 09:09:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitantes](
	[DNI] [int] NOT NULL,
	[Foto] [varchar](250) NOT NULL,
	[NombreApellido] [varchar](50) NOT NULL,
	[Celular] [int] NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Opinion] [int] NULL,
 CONSTRAINT [PK_Solicitantes] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
